[Unit]
After=multi-user.target
 
[Service]
User=root
Type=simple
Restart=always
Environment=VIRTUAL_ENV=/root/fastapiapp/venv
Environment=PYTHONPATH=/root/fastapiapp/smai
ExecStart=/root/fastapiapp/venv/bin/python3 /root/fastapiapp/main.py
 
[Install]
WantedBy=multi-user.target
